// Variables
@import 'variables';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//@import '~primereact/resources/themes/saga-blue/theme.css';
//@import '~primereact/resources/primereact.min.css';
//import './assets/css/animations.css';
//import './assets/css/styles.css';
@import '~primevue/resources/themes/saga-blue/theme.css';
@import '~primevue/resources/primevue.min.css';
@import '~primeflex/primeflex.min.css';
@import '~vue-loading-overlay/dist/vue-loading.css';
@import url(http://fonts.googleapis.com/css?family=Poppins:400italic,700italic,400,700);
* {
    font-family: "Poppins", Sans-serif;
}

.position-absolute-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:50%
}


.cursor-pointer { cursor: pointer; }